{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/login.css' %}"></head>
<body>
<div class="login">
<h1>Admin Page</h1>
<form method="post">
    <div class = "labelss">
    {% csrf_token %}
    </div>
    <a href="{% url 'drive_upload' %}"><button onclick="drivefunction()" type="submit" class="btn btn-primary btn-block btn-large">Drive Upload</button></a>
    <a href="{% url 'report_generation_placed' %}"><button type="submit" class="btn btn-primary btn-block btn-large">Report Generate</button>
    <a href="{% url 'logout' %}"><button type="submit" class="btn btn-primary btn-block btn-large">Logout</button>
</form>
</div>

<script>
function drivefunction() {
  location.replace("drive/drive_upload.html")
}
</script>

</body>