{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/login.css' %}"></head>
<body>
<div class="login">
<h1>Login</h1>
<form method="post">
    <div class = "labelss">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">Log In.</button>
            <br>
            <a href="{% url 'employee_signup'%}">
                <button type="button" class="btn btn-primary btn-block btn-large">Signup</button>
            </a>

</form>
</div>
</body>







