<!-- templates/home.html -->
{% load static %}


{% block title %}Home{% endblock %}
<link href="{% static 'signup/images/logo1.png' %}" rel="stylesheet" type="image/png">

{% block content %}
<h1>
    WELCOME TO DYPCOE TRAINING
    <br>AND PLACEMENT CELL
</h1>
<img src="{% static 'signup/images/logo1.png' %}">
<br>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
 <p><a href="{% url 'logout' %}"><button>logout</button></a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}"><button>Login
  </button></a>
{% endif %}
{% endblock %}