<!-- templates/home.html -->
{% load static %}


{% block title %}Home{% endblock %}
<link href="{% static 'signup/images/logo1.jpg' %}" rel="stylesheet" type="image/jpg">

{% block content %}
<h1>
    WELCOME TO DYPCOE TRAINING AND PLACEMENT CELL
</h1>
<br>
<img src="{% static 'signup/images/logo1.jpg' %}">
<br>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
 <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}